<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">

  <h1 class="center-content" style="padding-bottom: 50px">Bienvenido {{ userInfoReceived?.name }}</h1>
  <ion-list [inset]="true">
    <ion-list-header>
      <ion-label>Datos de usuario</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Usuario (correo institucional): {{ userInfoReceived?.username }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Nombre: {{ userInfoReceived?.name }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Apellido: {{ userInfoReceived?.last_name }}</ion-label>
    </ion-item>
    <ion-item>
      <!--
        cambiar contraseña
      -->
      
      <ion-label>Nueva contraseña: {{ userInfoReceived?.password }}</ion-label>
    </ion-item>
    </ion-list>

</ion-content>